<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add user</title>
</head>
<body>
<h2>Add user</h2>
<div>
    <form th:action="@{/users/add}" th:object="${user}" method="post">
        <fieldset>
            <legend>User info</legend>
            <p>
                <label th:for="name">Name</label>
                <input type="text" name="name" th:id="name" th:value="${user.getName()}">
            </p>
            <p>
                <label th:for="lastname">Lastname</label>
                <input type="text" name="lastname" th:id="lastname" th:value="${user.getLastname()}"><br/>
            </p>
            <p>
                <label th:for="age">Age</label>
                <input type="text" name="age" th:id="age" th:value="${user.getAge()}"><br/>
            </p>
        </fieldset>
        <button type="submit">Save user</button>
    </form>
    <br/>
    <form th:action="@{/}">
        <button type="submit" class="btn btn-outline-danger">Back to users list</button>
    </form>
</div>
</body>
</html>